@import 'tailwindcss' prefix(tw);

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --color-pink01: #ffe4e1;
    --color-pink02: #ffc0cb;
}
@plugin "daisyui";

.hozen-table {
    @apply tw:border tw:border-gray-400;
}

.hozen-table th,
.hozen-table td {
    @apply tw:border tw:border-gray-400 tw:px-[5px] tw:py-[3px];
}

.hozen-table th {
    @apply tw:bg-pink02 tw:font-normal;
}
