.hozen-table {
    @apply tw:border tw:border-gray-400;
}

.hozen-table th,
.hozen-table td {
    @apply tw:border tw:border-gray-400 tw:px-[5px] tw:py-[3px];
}

.hozen-table th {
    @apply tw:bg-pink02 tw:font-normal;
}
